<left>
    <!-- 000002 -->
     <b> Workshop</b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7920860&style=0038&nbdigits=9&type=page&initCount=0" title="Migrate" Alt="web counter"   border="0" /></a>  <br>
     <b> <a href="https://cloudjourney.awsstudygroup.com/">Cloud Journey</a></b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7830807&style=0038&nbdigits=9&type=page&initCount=0" title="Total CLoud Journey" Alt="web counter"   border="0"   />
     
</left>
<left>
    <br>
    <br>
        <b> Last Updated </b> <br>
        <i><font color=orange>08-08-2026</font></i>
    </left>
    <left>
        <br>
        <br>
            <b> Team </b> <br>
           
            <i> 
                <div style="color:rgb(156, 156, 156)">Võ Ngọc Huỳnh Như </div>
                <div style="color:rgb(156, 156, 156)">Biện Thị Mỹ Phụng</div> 
                <div style="color:rgb(156, 156, 156)">Nguyễn Minh Hậu</div> 
                <div style="color:rgb(156, 156, 156)">Võ Lê Hoàng Tân</div> <br>
        </i>
        </left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
